    <!DOCTYPE html>


    <html>






    <body>
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

      <div class="image">

       <%= image_tag "mainpic.jpeg",class:"background_image"%>



       <div class="title">
        <h1 class="animated shake"><i class="fa fa-coffee" aria-hidden="true"></i> Nuts & Tea</h1>

        <div class="social">
          <a href="https://www.facebook.com/nutsandtea/" target="_blank"><i class="fbcolor fa fa-facebook-square fa-4x"></i></a>

          <a href="https://twitter.com/nuts_and_tea" target="_blank"><i class="twcolor fa fa-twitter-square fa-4x"></i></a>

          <a href="https://www.instagram.com/nutsandtea/" target="_blank"><i class="incolor fa fa-instagram fa-4x"></i></a>
        </div>


        <section class="main">
          <a class="arrow-wrap" onclick="smoothScroll(document.getElementById('second'))">
            <span class="arrow"></span>
            <!--<span class="hint">scroll</span>-->
          </a>
        </section>

      </div>








    </div>



    <hr class="featurette-divider">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="second" id="second">

      <div class="container marketing">

       <!-- Three columns of text below the carousel -->
       <div class="row">
        <div class="col-lg-12">


          <h2 class="animated flip"><i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i> The idea of the site</h2>
          <p>Bombing, physical assault, terror, starvation, and injustice are more than enough reason for millions to flee their homes, abandoning lifetimes of work and position for only a chance at stability overseas.</p> 

          <p>Each of us has a story to tell about how to pursue a decent life on this planet we share.</p>





        </div><!-- /.col-lg-4 -->
        <div class="col-lg-12">


          <h2 class="animated flip"><i class="fa fa-share-alt fa-2x" aria-hidden="true"></i> 
            Share your story with us</h2>
            <p>"Nuts and Tea" speaks to the human desire to understand the actions of others, whatever their culture, language, or religion. We hope this platform opens new channels of communication.</p>



          </div><!-- /.col-lg-4 -->
          <div class="col-lg-12">

            <h2 class="animated flip"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>  Why "Nuts&Tea" ? </h2>
            <div>
              <p class="whyp">If you watch a movie you need popcorn - but if you read a story, then you need Nuts & Tea.</p>
            </div>

          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->
        <div class="backgroundcolor">

        </div>

        <hr class="featurette-divider">
        <h3 ><i class="fa fa-users" aria-hidden="true"></i> who are we ?</h3><br ><br>


        
        <div class="col-md-12 text-center">
          <div class="col-md-6">
            <h2 class="animated tada"><i class="fa fa-database fa-2x" aria-hidden="true"></i>  Muhammed. <span class="text-muted">Think creative.</span></h2>

            <%= image_tag "mhd.jpg",class:"ourpics img-responsive img-thumbnail"%>

            <div class="iconspos2">
             <div>    
             <a class="label label-primary" href="https://web.facebook.com/smoothm2" target="blank" role="button">Facebook</a>
            </div>
            <div>
              <a class="label label-danger" href="https://plus.google.com/107697051597188767713" target="blank" role="button">Mail</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">

          <h2 class="animated tada"><i class="fa fa-code fa-2x" aria-hidden="true"></i> Rami. <span class="text-muted">Use technology.</span></h2>

          <%= image_tag "rami.jpg",class:"ourpics img-responsive img-thumbnail"%>



          <div class="iconspos">
            <div>
             <a class="label label-primary" href="https://web.facebook.com/ramy.ramboo" target="blank" role="button">Facebook</a>
           </div>
           <div>
             <a class="label label-danger" href="https://plus.google.com/u/0/109490711832390739311/posts" target="blank" role="button">Mail</a>
           </div>
         </div>

       </div>

       <div class="col-md-12">
        <p class="lead"> "Nuts and Tea" is the brainchild of two Syrians in Berlin: a tech aficionado raised in Saudi Arabia, who's been fixing computers since he was a kid, and a business administration graduate who lived in Libya, Egypt, and Turkey, before heading to Germany - on foot.</p>

        <p class="lead">Faced with a new language, culture, and style of living (far from their families) both wanted to tell the stories behind the decision to leave everything behind, that has been made by so many.
        </p>
        <p class="lead">
          The "Nuts and Tea"
          platform was built by Rami and Muhammed as part of the Refugees on Rails Berlin program using Ruby-on-Rails, JavaScript, HTML & CSS. </p><br><br><br>
        </div>





      </div>


      <hr class="featurette-divider">

    </div>

  </div>
  <!-- /END THE FEATURETTES -->




  <div class="container">
    <div class="row">
     <div class="span12">
      <div class="thumbnail center well well-small text-center">
       <!-- Begin MailChimp Signup Form -->
       <div id="mc_embed_signup">
        <form action="//facebook.us1.list-manage.com/subscribe/post?u=71c819ed3e41f17b0f7f13bcf&amp;id=929554bb8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
           <label for="mce-EMAIL"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Subscribe to get updates about our site.</label><br>
           <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="     email address" required>
           <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
           <div ><input type="text" name="b_71c819ed3e41f17b0f7f13bcf_929554bb8b" tabindex="-1" value="" class="hidden"></div><br>
           <div class="clear"><input class="animated infinite bounce button btn btn-primary btn-danger" type="submit" value="Subscribe Now!" name="subscribe" id="mc-embedded-subscribe"></div>
         </div>
       </form>
     </div>
   </div>    
 </div>
</div>
</div>
<!--End mc_embed_signup-->


<link href='http://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500' rel='stylesheet' type='text/css'>










<footer>
  <p class="colorblack">&copy; 2016 Muhammed&Rami, Inc.
  </footer>

</body>
</html>